{% extends 'header.html' %}
{% block content %}

<body id='body'>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <div class="tittle-post">{{ post.tittle }}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'edit_post' name_url=post.name_url %}"><img width="25px" src="/media/site/redact.png" alt=""></a>
                    <a href="{% url 'delete_post' name_url=post.name_url %}"><img width="25px" src="/media/site/Delete.png" alt=""></a>
                    {% endif %}
                </div>
                <div class="date-category-post"><NOBR><span class="glyphicon glyphicon-calendar" style='color: #6B0009'></span> <b>{{ post.date }}</b> </NOBR> | <NOBR><span class="glyphicon glyphicon-list-alt" style='color: #6B0009'></span> <b id='category'>{{ post.get_category_display }}</b></NOBR> | <NOBR><span class="glyphicon glyphicon-user" style='color: #6B0009'></span> <b>{{ post.name }}</b></NOBR> | <NOBR><span class='glyphicon glyphicon-eye-open' style='color: #6B0009;'></span> <b>{{ post.look }}</b></NOBR> </div>
                <img src="http://www.beloglazov-projects.com/media/{{ post.logo }}" class="img-post" alt="">
                <div class="text">{{ post.text|safe }}</div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}