{% extends 'template_baby.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css_baby.css' %}">

<body>
<article class="panel panel-default col-md-6 col-md-offset-3">
<div class="panel-heading purple">
<h2 class="panel-title">Электронный блокнот питания Максима</h2>
</div>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Дата</th>
<th>Возраст</th>
<th>Объем</th>
    <th>Туалет</th>
</tr>
</thead>
<tbody>
{% for item in History %}
    <tr>
    {% for x in item %}
        <td>{{ x }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

</article>
<div class="container text-center">
<div class="row">
    <div class="col-md-6 col-md-offset-3 navbar-fixed-bottom">
<form action="/baby" method="POST">{% csrf_token %}
            <button type="submit" class="btn">Назад</button>
</form>
        </div></div></div>
</body>
{% endblock content %}